%header
  .container
    .row
      .col-sm-4
        %h1
          monitor
      .col-sm-2.nav-link
        %a{href: '/machines'}
          тачки
      .col-sm-2.nav-link
        %a{href: '/stats'}
          статистика
%hr
