$gray: rgb(110, 110, 110)
.app
  &-layout
    max-width: 1600px
header
  .nav-link
    padding-top: 15px
    font-size: 20px
    font-weight: bolder
.checkbox-big
  input
    width: 25px
    height: 25px
.checkbox-lil
  input
    width: 20px
    height: 20px
th.label
  padding-bottom: 25px
i
  cursor: pointer
header
  background: #157EFB
  text-align: center
  margin-bottom: 50px
  a
    color: white
    margin: 20px auto 20px
    font-weight: bolder
    font-size: 40px
    &:hover
      color: rgb(205, 213, 236)
.machines
  &-header
    min-height: 50px
    text-align: center
    &-item
      min-width: 200px
      max-width: 250px
      width: 20%
      display: inline-block
      button
        width: 100%
      &-panel
        padding: 20px 15px 5px 15px
        // border-left: 2px solid $gray
        color: $gray
        margin-left: 15px
        max-width: 500px
        display: inline-block
        font-size: 20px
        button
          margin-top: -5px
  &-buttons
    position: relative
    &-item
      min-width: 100px
      max-width: 200px
      width: 20%
      display: inline-block
      margin: 20px
      button
        width: 100%
      &:first-child
        margin: 20px 20px 20px 0

.spinner
  width: 40px
  height: 40px
  position: relative
  margin: 100px auto


.double-bounce1, .double-bounce2
  width: 100%
  height: 100%
  border-radius: 50%
  background-color: #333
  opacity: 0.6
  position: absolute
  top: 0
  left: 0
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out
  animation: sk-bounce 2.0s infinite ease-in-out


.double-bounce2
  -webkit-animation-delay: -1.0s
  animation-delay: -1.0s


@-webkit-keyframes sk-bounce
  0%, 100%
    -webkit-transform: scale(0.0)
  50%
    -webkit-transform: scale(1.0)


@keyframes sk-bounce
  0%, 100%
    transform: scale(0.0)
    -webkit-transform: scale(0.0)
  50%
    transform: scale(1.0)
    -webkit-transform: scale(1.0)

.machines
  &-list
    .label
      font-size: 12px
    thead
      th, td
        vertical-align: top !important
    tbody
      tr
        font-size: 14px
  &-action
    display: inline-block
    width: 20px
    margin: 0 3px 0 3px
.checkbox-big
  margin-top: 5px
  input
    transform: scale(1.5)
.checkbox-lil
  input
    margin-top: 3px
    transform: scale(1.2)
